/* Container */
.profile-container {
  padding: 20px;
  font-family: "Inter", sans-serif;
}

/* Header */
.profile-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.back-arrow {
  font-size: 22px;
  cursor: pointer;
}

.profile-header h2 {
  font-size: 22px;
  font-weight: 600;
}

/* Avatar Section */
.avatar-section {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  position: relative;
}

.avatar-circle {
  width: 110px;
  height: 110px;
  background-color: #c1411a;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-letter {
  font-size: 45px;
  color: #fff;
  font-weight: 600;
}

/* Edit Icon */
.edit-icon {
  position: absolute;
  right: 105px;
  bottom: 0px;
  background-color: #004d52;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}

/* Form Section */
.form-section {
  margin-top: 35px;
}

label {
  font-size: 15px;
  font-weight: 600;
  color: #005a62;
}

.input-box {
  width: 100%;
  padding: 15px;
  margin: 8px 0 22px;
  border: none;
  background: #f1f5f4;
  border-radius: 12px;
  font-size: 16px;
  color: #333;
}

/* Buttons */
.save-btn {
  width: 100%;
  padding: 15px;
  border-radius: 25px;
  background: #dcdcdc;
  color: #6e6e6e;
  border: none;
  font-size: 16px;
  margin-top: 10px;
}

.save-btn:disabled {
  opacity: 0.7;
}

.delete-btn {
  width: 100%;
  padding: 15px;
  border-radius: 25px;
  background: #fdeaea;
  color: #e63636;
  border: none;
  font-size: 16px;
  margin-top: 12px;
}