/* .ha-container {
  max-width: 430px;
  margin: 0 auto;
  padding: 20px;
  font-family: "Inter", sans-serif;
  text-align: center;
  background: #fff;
}

.ha-back {
  text-align: left;
  font-size: 26px;
  cursor: pointer;
}

.ha-avatar {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.ha-circle {
  width: 90px;
  height: 90px;
  background: #ff7a32;
  border-radius: 50%;
  color: white;
  font-size: 46px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ha-title {
  margin-top: 16px;
  font-size: 22px;
  font-weight: 800;
}

.ha-phone {
  font-size: 15px;
  color: #333;
  margin-bottom: 25px;
}

.ha-btn-green {
  width: 90%;
  padding: 14px;
  background: #16a34a;
  border: none;
  color: white;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.ha-btn-light {
  width: 90%;
  padding: 14px;
  background: #f3f3f3;
  border: none;
  color: #222;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 12px;
}

.ha-btn-outline {
  width: 90%;
  padding: 14px;
  background: transparent;
  border: 1.6px solid #ccc;
  color: #000;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 600;
  margin-top: 12px;
  cursor: pointer;
}

.ha-info {
  margin-top: 22px;
  font-size: 14px;
  color: #666;
  line-height: 1.5;
  padding: 0 10px;
} */